* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(img/bgTip.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body,
button,
input {
  font-family: "Space Mono", monospace, Arial, Helvetica, sans-serif;
  padding: 0 0.25rem;
}
.wrapper {
  max-width: 40rem;
  margin: 20vh auto;
  padding: 3rem;
  background-color: rgba(124, 124, 123, 0.411);
}
h1 {
  text-decoration: underline;
}
.flex {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .flex {
    flex-direction: column;
  }
}
.left,
.right {
  flex-basis: 50%;
  min-width: 10rem;
  max-width: 20rem;
}
#bill_amount,
#custom > input {
  text-align: end;
  padding-right: 0.5rem;
  max-width: 7rem;
}
#bill_amount,
#custom > input,
button {
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
}
#reset {
  width: 5rem;
  margin: 3rem 0;
}
.percent::after {
  content: " %";
}
button:hover,
button:focus {
  background-color: #000;
  color: white;
}
